//
// Gradient system
//
$gradients: () !default;
$gradients: map-merge((
    inconfheader: linear-gradient(135deg, #279094 0%, #1c8387 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #ff9239 0%,#ff0000 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
), $gradients);


// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// Gradient Classes 
@each $gradient, $value in $gradients {
  @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

// Gradient Classes 
@each $gradient, $value in $gradients {
  @include text-gradient(".text-gradient-#{$gradient}", $value);
}